###############################################################################
# production variables (necessary for the app to function)
###############################################################################

# a full postgres connection URL
export DATABASE_URL=postgres://apabbs:password@localhost/apabbs

# a key at least 16 chars long used for encryption
export SECRET_KEY="random string"

# the name of your website displayed in titles and headers
export SITE_NAME=apabbs.example.com

# the port the app runs on (default 7878)
#export PORT=7878

# the amount of posts before pagination begins (default 1000)
#export PER_PAGE=1000

###############################################################################
# development variables (disable these in production)
###############################################################################

# disable caching of templates, allow non-https cookies, and differentiate
# environments in scripts
export DEV=1

# used with script/deploy.sh and script/reload.sh for easy deployments and
# production database snapshots (these can be the same user)
export SSH_APP_USER=apabbs@${SITE_NAME}
export SSH_SUDO_USER=sudo_user@${SITE_NAME}
