###############################################################################
# production variables (necessary for the app to function)
###############################################################################

# a full postgres connection URL
DATABASE_URL=postgres://apabbs:password@localhost/apabbs

# a key at least 16 chars long used for encryption
SECRET_KEY="random string"

# the hostname of your production website
PROD_HOST=apabbs.example.com

# the port the app runs on (default 7878)
#PORT=7878

# the amount of posts before pagination begins (default 500)
#PER_PAGE=500

# Sentry DSN for error tracking (optional)
#SENTRY_DSN="https://<public_key>@<subdomain>.ingest.us.sentry.io/<project_id>"

###############################################################################
# development variables (disable these in production)
###############################################################################

# disable caching of templates, allow non-https cookies, and differentiate
# environments in scripts
DEV=1

# used with script/deploy.sh and script/reload.sh for easy deployments and
# production database snapshots
SSH_APP_USER=apabbs@${PROD_HOST}
SSH_SUDO_USER=sudo_user@${PROD_HOST}
SSH_APP_PATH=apabbs
SSH_SERVICE=apabbs
