/* Only applied on non-Mac operating systems to Chromium browsers */

:root {
    --track: #0f0f0f;
    --thumb: #ccc;
    scrollbar-color: var(--thumb) var(--track);
}

@media (prefers-color-scheme: light) {
    :root {
        --track: #f2f2f2;
        --thumb: #666;
    }
}
