/* Only applied on non-Mac operating systems to WebKit browsers */

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: var(--track);
}

body::-webkit-scrollbar-thumb {
    background-color: var(--border);
    border-radius: 8px;
}
