html {
    --back: black;
    --fore: #e3e3e3;
    --border: #777;
    --system: #9cdcda;
    --review: #bebebe;
    --arrow: #777777;
    --pending: #111111;
    --rejected: rgb(37, 4, 4);
    --banned: rgb(105, 10, 10);
    --thumb: #ccc;
    --disabled: #444;
}

@media (prefers-color-scheme: light) {
    html {
        --back: white;
        --fore: black;
        --border: #ccc;
        --system: black;
        --review: rgb(63, 63, 63);
        --arrow: black;
        --pending: #eeeeee;
        --rejected: rgb(250, 226, 226);
        --banned: rgb(231, 63, 63);
        --thumb: #666;
        --disabled: #ccc;
    }
}

body {
    overflow-wrap: break-word;
    margin: 12px max(calc(4vh + 4vw - 50px), 12px);
}

body,
textarea,
input,
select,
::file-selector-button {
    font-family: Consolas, monospace;
    font-size: 12px;
    color: var(--fore);
    background: var(--back);
    accent-color: var(--system);
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

::selection {
    background: var(--system);
    color: var(--back);
}

input:disabled {
    color: var(--disabled);
}

textarea {
    width: min(calc(100% - max(calc(4vh + 4vw - 50px), 12px)), 600px);
    height: 4em;
    padding: 5px;
}

input[type="submit"] {
    margin-top: 7px;
}

input,
textarea,
select,
::file-selector-button {
    border-radius: 5px;
    border-color: var(--border);
}

a {
    color: var(--system);
}

nav {
    float: right;
}

nav a {
    text-decoration: none;
    color: var(--system);
}

header h1 a {
    text-decoration: none;
    color: var(--fore);
}

header h1 {
    font-size: 1em;
}

.system {
    color: var(--system);
}

.review {
    color: var(--review);
}

p.review {
    margin-bottom: 0;
}

form.approve,
form.reject,
form.ban {
    display: inline;
}

div#posts {
    display: flex;
    flex-wrap: wrap;
    gap: calc(3vh + 3vw);
    margin-top: max(calc(2vh + 2vw - 20px), 12px);
    margin-bottom: max(calc(4vh + 4vw - 50px), 12px);
}

div#posts.solo {
    margin-bottom: unset;
}

div.post {
    flex: clamp(250px, 30vh + 20vw, 600px);
    break-inside: avoid;
}

div.post.pending {
    background: var(--pending);
}

div.post.rejected {
    background: var(--rejected);
}

div.post.banned {
    background: var(--banned);
}

div.post div.body {
    max-width: 1000px;
    max-height: clamp(300px, 80vh, 600px);
    overflow: hidden;
}

div#posts.solo div.post div.body {
    max-height: unset;
    overflow: unset;
}

/* youtube thumbnails */
div.post div.body img {
    max-height: clamp(250px, 70vh, 500px);
}

div.post img,
video {
    max-width: clamp(300px, 100%, 800px);
    max-height: clamp(300px, 80vh, 600px);
}

/* phones get tighter layout because of mobile browser controls */

div#posts.solo img,
video {
    max-width: max(300px, 100%);
    max-height: max(calc(100vh - 11em), 200px);
}

body.admin div#posts.solo img,
video {
    max-height: max(calc(100vh - 15em), 200px);
}

@media (max-width: 450px) or (max-height: 450px) {
    div#posts.solo img,
    video {
        max-height: max(calc(100vh - 16em), 200px);
    }

    body.admin div#posts.solo img,
    video {
        max-height: max(calc(100vh - 20em), 200px);
    }
}

div.post div.arrow a {
    text-decoration: none;
    color: var(--arrow);
    font-size: 1.2em;
}

div.post details.mod {
    margin: 1em;
}

div.post p.info a {
    text-decoration: none;
    color: var(--system);
}

p#notice {
    color: var(--system);
}

div#spinner {
    width: 10px;
    height: 10px;
    border: 2px solid var(--fore);
    border-top-color: transparent;
    border-radius: 50%;
    animation: spinner 0.85s linear infinite;
    margin-top: 10px;
    margin-left: 7px;
    display: none;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

div#post-submit-container {
    display: flex;
}

a.youtube {
    text-decoration: none;
}

a.youtube img {
    height: 1.7em;
    filter: brightness(0.2) invert(1);
}

@media (prefers-color-scheme: light) {
    a.youtube img {
        filter: saturate(0) brightness(0.2);
    }
}

div.checkbox-container {
    display: flex;
    align-items: center;
    padding: 3px;
    margin-top: 3px;
}

div.checkbox-container label {
    margin-left: 4px;
}
