@media (prefers-color-scheme: dark) {
    body {
        --back: black;
        --fore: #e3e3e3;
        --link: rgb(89, 131, 209);
        --border: #777;
        --system: #9cdcda;
        --post-info: rgb(141, 141, 141);
        --pending: #222222;
        --rejected: rgb(37, 4, 4);
        --banned: rgb(105, 10, 10);
        --track: #222;
        --disabled: #444;
    }
}

@media (prefers-color-scheme: light) {
    body {
        --back: white;
        --fore: black;
        --link: blue;
        --border: #ccc;
        --system: black;
        --post-info: darkslategray;
        --pending: #eeeeee;
        --rejected: rgb(250, 226, 226);
        --banned: rgb(231, 63, 63);
        --track: #eee;
        --disabled: #ccc;
    }
}

body {
    overflow-wrap: break-word;
    margin: 12px;
}

main {
    padding-bottom: 50px;
}

body,
textarea,
input,
::file-selector-button {
    font-family: Consolas, monospace;
    font-size: 12px;
    color: var(--fore);
    background: var(--back);
    accent-color: var(--system);
}

input:disabled {
    color: var(--disabled);
}

textarea {
    width: min(95%, 600px);
    height: 3em;
}

input[type="submit"] {
    margin-top: 7px;
}

input,
textarea,
::file-selector-button {
    border-radius: 5px;
    border-color: var(--border);
}

textarea {
    padding: 5px;
    max-width: 1000px;
}

a {
    color: var(--link);
}

fieldset {
    border-color: var(--back);
    border-radius: 5px;
}

header h3 a {
    text-decoration: none;
    color: var(--fore);
}

header h3 {
    margin-bottom: 0;
}

ul.system {
    margin-top: 0;
}

.system {
    color: var(--system);
}

.post-info {
    color: var(--post-info);
}

form.approve,
form.reject,
form.ban {
    display: inline;
}

section#posts {
    display: flex;
    flex-wrap: wrap;
    margin-left: -6px;
    margin-right: -6px;
}

article {
    flex: 325px;
    overflow: hidden;
    border-radius: 5px;
    margin: 6px;
    break-inside: avoid;
}

article.pending,
article.rejected,
article.banned {
    padding: 10px;
}

article.pending {
    background: var(--pending);
}

article.rejected {
    background: var(--rejected);
}

article.banned {
    background: var(--banned);
}

input#post-button {
    padding: 5px 20px;
    font-weight: bold;
    font-size: 1.1em;
}

article img,
video {
    max-width: 100%;
    max-height: 500px;
}

article.solo {
    max-width: 1000px;
}

article.solo img,
video {
    max-width: 100%;
    max-height: 700px;
}

a.uuid {
    text-decoration: none;
    color: var(--post-info);
}
