@media (prefers-color-scheme: dark) {
    body {
        --back: black;
        --fore: #e3e3e3;
        --link: #9cdcda;
        --border: #777;
    }
}

@media (prefers-color-scheme: light) {
    body {
        --back: white;
        --fore: black;
        --link: blue;
        --border: #ccc;
    }
}

body {
    margin: 10px 10px 50px 10px;
}

@media (min-width: 600px) {
    body {
        margin-left: 50px;
        margin-right: 50px;
    }
}

body,
textarea,
input {
    font-family: Consolas, monospace;
    font-size: 12px;
    color: var(--fore);
    background: var(--back);
    max-width: 700px;
}

textarea {
    width: 97%;
    height: 7em;
}

input[type="submit"] {
    margin-top: 7px;
}

input,
textarea {
    padding: 3px;
    border-radius: 5px;
    border-color: var(--border);
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

fieldset {
    border-color: var(--back);
}
