@media (prefers-color-scheme: dark) {
    body {
        --back: black;
        --fore: #e3e3e3;
        --link: rgb(89, 131, 209);
        --border: #777;
        --system: #9cdcda;
        --review: #bebebe;
        --uuid: #777777;
        --pending: #111111;
        --rejected: rgb(37, 4, 4);
        --banned: rgb(105, 10, 10);
        --track: #222;
        --disabled: #444;
    }
}

@media (prefers-color-scheme: light) {
    body {
        --back: white;
        --fore: black;
        --link: blue;
        --border: #ccc;
        --system: black;
        --review: rgb(63, 63, 63);
        --uuid: rgb(134, 134, 134);
        --pending: #eeeeee;
        --rejected: rgb(250, 226, 226);
        --banned: rgb(231, 63, 63);
        --track: #eee;
        --disabled: #ccc;
    }
}

body {
    overflow-wrap: break-word;
    margin: 12px;
}

main {
    padding-bottom: 50px;
}

body,
textarea,
input,
::file-selector-button {
    font-family: Consolas, monospace;
    font-size: 12px;
    color: var(--fore);
    background: var(--back);
    accent-color: var(--system);
}

::selection {
    background: var(--system);
    color: var(--back);
}

input:disabled {
    color: var(--disabled);
}

textarea {
    width: min(95%, 600px);
    height: 3em;
    padding: 5px;
}

input[type="submit"] {
    margin-top: 7px;
}

input,
textarea,
::file-selector-button {
    border-radius: 5px;
    border-color: var(--border);
}

a {
    color: var(--link);
}

fieldset {
    border-color: var(--back);
    border-radius: 5px;
}

header h1 a {
    text-decoration: none;
    color: var(--fore);
}

header h1 {
    font-size: 1em;
}

.system {
    color: var(--system);
}

.review {
    color: var(--review);
}

p.review {
    margin-bottom: 0;
}

form.approve,
form.reject,
form.ban {
    display: inline;
}

div#posts {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-top: 12px;
}

div.post {
    flex: 300px;
    break-inside: avoid;
}

div.post.pending,
div.post.rejected,
div.post.banned {
    padding: 10px;
}

div.post.pending {
    background: var(--pending);
}

div.post.rejected {
    background: var(--rejected);
}

div.post.banned {
    background: var(--banned);
}

input#post-button {
    padding: 5px 20px;
    font-weight: bold;
    font-size: 1.1em;
}

div.post div.content {
    flex-shrink: 0;
}

div.post div.body {
    max-height: 300px;
    overflow: hidden;
}

div.post img,
video {
    max-width: 100%;
    max-height: 100%;
}

div.post.solo div.content {
    max-width: 800px;
    max-height: unset;
}

div.post.solo div.body {
    max-height: unset;
    overflow: unset;
}

div.post.solo img,
video {
    max-width: 100%;
    max-height: 700px;
}

div.post div.uuid a {
    text-decoration: none;
    color: var(--uuid);
}

div.post details.mod {
    margin: 1em;
}
