html {
    --back: black;
    --fore: #e3e3e3;
    --border: #777;
    --system: #9cdcda;
    --review: #bebebe;
    --arrow: #777777;
    --pending: #111111;
    --delisted: #051d3a;
    --reported: rgb(75, 10, 75);
    --rejected: rgb(37, 4, 4);
    --banned: rgb(105, 10, 10);
    --thumb: #ccc;
    --disabled: #444;
}

@media (prefers-color-scheme: light) {
    html {
        --back: white;
        --fore: black;
        --border: #ccc;
        --system: black;
        --review: rgb(63, 63, 63);
        --arrow: black;
        --pending: #eeeeee;
        --delisted: rgb(97, 156, 223);
        --reported: rgb(243, 186, 243);
        --rejected: rgb(250, 226, 226);
        --banned: rgb(231, 102, 102);
        --thumb: #666;
        --disabled: #ccc;
    }
}

body {
    overflow-wrap: break-word;
    margin: 8px;
}

textarea {
    width: min(calc(100% - 12px), 600px);
    height: 4em;
    padding: 5px;
}

@-moz-document url-prefix() {
    textarea {
        width: min(calc(100% - 14px), 600px);
    }
}

body,
textarea,
input,
select,
button,
::file-selector-button {
    font-family: Consolas, monospace;
    font-size: 12px;
    color: var(--fore);
    background: var(--back);
    accent-color: var(--system);
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

::selection {
    background: var(--system);
    color: var(--back);
}

input:disabled {
    color: var(--disabled);
}

input[type="submit"],
button,
select {
    margin: 7px 0;
}

input[type="text"],
input[type="password"] {
    margin: 4px 0;
}

input,
textarea,
select,
button,
::file-selector-button {
    border-radius: 5px;
    border-color: var(--border);
}

textarea#post-body {
    margin-bottom: 4px;
}

a {
    color: var(--system);
}

nav {
    float: right;
}

nav a {
    text-decoration: none;
    color: var(--system);
}

header h1 a {
    text-decoration: none;
    color: var(--fore);
}

header h1 {
    font-size: 1em;
}

.system {
    color: var(--system);
}

.status {
    color: var(--review);
}

details.review form {
    display: inline;
}

div#posts {
    display: flex;
    flex-wrap: wrap;
    gap: calc(3vh + 3vw + 16px);
    margin-top: 12px;
    margin-bottom: max(calc(4vh + 4vw - 50px), 12px);
}

div#posts.solo {
    margin-top: 12px;
    margin-bottom: unset;
}

div.post {
    flex: clamp(300px, 60vh, 550px);
    break-inside: avoid;
    margin: 0 -8px;
    padding: 0 8px;
}

div.post.pending,
div.post.delisted,
div.post.reported,
div.post.rejected,
div.post.banned {
    padding: 8px;
}

div.post.pending {
    background: var(--pending);
}

div.post.delisted {
    background: var(--delisted);
}

div.post.reported {
    background: var(--reported);
}

div.post.rejected {
    background: var(--rejected);
}

div.post.banned {
    background: var(--banned);
}

div.post div.body {
    max-width: 1264px;
    margin-bottom: 4px;
}

div.post img,
div.post video {
    max-width: clamp(300px, calc(100% + 16px), 1600px);
    max-height: clamp(300px, 100vh, 1200px);
    margin-left: -8px;
}

div#posts.solo img,
div#posts.solo video {
    max-width: max(300px, calc(100% + 16px));
    max-height: unset;
}

div.post div.arrow a {
    text-decoration: none;
    color: var(--arrow);
    font-size: 1.2em;
}

div.post p.info a {
    text-decoration: none;
    color: var(--system);
}

p#notice {
    color: var(--system);
}

div#spinner {
    width: 10px;
    height: 10px;
    border: 2px solid var(--fore);
    border-top-color: transparent;
    border-radius: 50%;
    animation: spinner 0.85s linear infinite;
    display: none;
}

@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

div#post-submit-container {
    display: flex;
    gap: 6px;
    align-items: center;
}

div#post-submit-container input[type="submit"] {
    margin-top: unset;
}

a.youtube {
    text-decoration: none;
}

a.youtube img {
    height: 1.7em;
    filter: brightness(0.2) invert(1);
    margin-left: 0;
}

@media (prefers-color-scheme: light) {
    a.youtube img {
        filter: saturate(0) brightness(0.2);
    }
}

div.checkbox-container {
    display: flex;
    align-items: center;
    padding: 3px;
    margin-top: 3px;
}

div.checkbox-container label {
    margin-left: 4px;
}

main#settings input,
main#settings select {
    display: block;
}

main#settings form {
    margin-top: 20px;
}
