<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>schizo.land</title>
    <link rel="stylesheet" href="/style.css">
    <script src="/script.js"></script>
</head>

<body>
    <h1>schizo.land</h1>
    <section id="forms">
        <p class="system">write a post. if it is approved, it will show up later.</p>
        <form action="/submit-post" method="post" id="post-form">
            <fieldset>
                <legend>new post</legend>
                <textarea name="body" id="post-body"></textarea><br>
                <input type="submit" value="Submit post for review">
            </fieldset>
        </form>
        {%- if user is none %}
        <p class="system">if you have an account, log in.</p>
        <form action="/authenticate-user" method="post" id="login-form">
            <fieldset>
                <legend>user login</legend>
                <label for="login-username">username:</label>
                <input type="text" name="name" id="login-username" size="16"><br>
                <label for="login-password">password:</label>
                <input type="password" name="password" id="login-password"><br>
                <input type="submit" value="Log in">
            </fieldset>
        </form>
        <p class="system">you can avoid requiring approval by registering an account.</p>
        <form action="/register-user" method="post" id="register-form">
            <fieldset>
                <legend>user registration</legend>
                <label for="register-username">username:</label>
                <input type="text" name="name" id="register-username" size="16"><br>
                <label for="register-password">password:</label>
                <input type="password" name="password" id="register-password"><br>
                <input type="submit" value="Register account">
            </fieldset>
        </form>
        {%- else %}
        <p class="system">logged in user: <strong>{{ user.name }}</strong></p>
        <form action="/deauthenticate-user" method="post" id="logout-form">
            <input type="submit" value="Log out">
        </form>
        {%- endif %}
    </section>
    <p class="system">approved posts:</p>
    {%- for post in posts %}
    <p>{{ post.body }}</p>
    {%- endfor %}
</body>

</html>