{# Main index page template displaying posts and submission form #}
{% extends "layout.jinja" %}
{% block meta %}
    <meta property="twitter:image" content="https://{{ host }}/screenshot.webp?{{ utc_hour_timestamp }}">
    <meta property="twitter:card" content="summary_large_image">
{% endblock %}
{% block title %}
    <title>{{ title }}</title>
{% endblock %}
{% block main %}
<main class="list">
    {% if user.account and user.account.role == "admin" and pending_accounts %}
    <ul class="pending-accounts">
        {% for account in pending_accounts %}
        {%+ filter indent(8) %}
        {% include "pending_account.jinja" %}
        {% endfilter +%}
        {% endfor %}
    </ul>
    {% endif %}
    {# If viewing a paginated result set, show the page marker #}
    {% if page_post %}
    <p class="system">Page beginning "{{ page_post.key }}"</p>
    {# Otherwise show the post submission form for new content #}
    {% else %}
    {% if user.ban_expires_at %}
    <p class="system">You are banned from posting until {{ user.ban_expires_at }}.</p>
    {% endif %}
    <form action="/submit-post" method="post" enctype="multipart/form-data">
        <fieldset{{ " disabled" if user.ban_expires_at }}>
            {# User session token for authentication/tracking #}
            <input type="hidden" name="session_token" value="{{ user.session_token }}">
            <textarea name="body"></textarea>
            <div class="row">
                <button type="submit" id="post-button">Post</button>
                {# File upload field for images/videos #}
                <input type="file" name="media">
                {# Loading indicator that shows during form submission #}
                <div id="spinner"></div>
            </div>
        </fieldset>
    </form>
    {% endif %}
    {# List of posts #}
    <div id="posts">
        {% for post in posts %}
        {%+ filter indent(8) %}
        {% include "post.jinja" %}
        {% endfilter +%}
        {% endfor %}
    </div>
    {# Pagination control if more posts are available #}
    {% if next_page_post %}
    <footer>
        <p id="next-page"><a href="/page/{{ next_page_post.key }}" class="system">Next page</a></p>
    </footer>
    {% endif %}
</main>
{% endblock %}
