{% set title = "[dev] " + host if dev else host %}
{% set mac = false %}
{% set chrome = false %}
{% if user_agent_opt is not none %}
{% set mac = user_agent_opt.mac %}
{% set chrome = user_agent_opt.chrome %}
{% endif %}
<!DOCTYPE html>
<html lang="en-US">

<head>
    {% block title %}
    <title>{{ title }}</title>
    {% endblock %}
    <link rel="stylesheet" href="/style.css?201">
    {% if not mac and chrome %}
    <link rel="stylesheet" href="/scrollbar.css?6">
    {% endif %}
    <script src="/script.js?66"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block meta %}
    {% endblock %}
</head>

<body>
    {% if nav %}
    <nav>
        {% if user.account_opt is not none %}
        {% set account = user.account_opt %}
        <a href="/user/{{ account.username }}">{{ account.username }}</a>
        {% else %}
        <a href="/login">log in</a>
        {% endif %}
    </nav>
    {% endif %}
    <header>
        <h1><a href="/">{{ title }}</a></h1>
    </header>
    {% filter indent(4) %}
    {%+ block main %}
    {% endblock +%}
    {% endfilter %}
</body>

</html>
