<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css?26">
    <script src="/script.js?15"></script>
</head>

<body>
    <header>
        <h3><a href="/">{{ title }}</a></h3>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>

</html>
