<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css?191">
    <script src="/script.js?63"></script>
</head>

<body>
    {% if nav %}
    <nav>
        {% if user.account_opt is not none %}
        {% set account = user.account_opt %}
        <a href="/user/{{ account.username }}">{{ account.username }}</a>
        {% else %}
        <a href="/login">log in</a>
        {% endif %}
    </nav>
    {% endif %}
    <header>
        <h1><a href="/">{{ title }}</a></h1>
    </header>
    {% filter indent(4) %}
    {%+ block main %}
    {% endblock +%}
    {% endfilter %}
</body>

</html>
