{# User login form page #}
{% extends "layout.jinja" %}
{% block title %}
    <title>{{ title_host }} &raquo; Log in</title>
{% endblock %}
{% block main %}
<main>
    <h2>Log in</h2>
    {# Login form with grid layout #}
    <form method="post">
        <fieldset class="grid">
            {# Hidden session token for CSRF protection #}
            <input type="hidden" name="session_token" value="{{ user.session_token }}">
            {# Username field with autocomplete support #}
            <label for="username">Username:</label>
            <input id="username" type="text" name="username" maxlength="16" autocomplete="username">
            {# Password field with security constraints #}
            <label for="password">Password:</label>
            <input id="password" type="password" name="password" maxlength="64" autocomplete="current-password">
            {# Remember me option (checked by default) #}
            <div class="checkbox-container">
                <input type="checkbox" checked name="year" id="login-year">
                <label for="login-year">Stay logged in for a year</label>
            </div>
            <button type="submit">Log in</button>
        </fieldset>
    </form>
    {# Registration link for new users #}
    <p>If you don't have an account, you can <a href="/register">register</a> one.</p>
</main>
{% endblock %}
