{% set filename = post.thumb_filename_opt if use_thumb else post.media_filename_opt %}
{% set width = post.thumb_width_opt if use_thumb else post.media_width_opt %}
{% set height = post.thumb_height_opt if use_thumb else post.media_height_opt %}
{% set media_path = media_path_opt %}
{% set mime_type = "video/mp4" if use_thumb else post.media_mime_type_opt %}
<div class="media">
    {% if category == "image" %}
    {% set solo_path = "/p/" + key %}
    {% if solo %}
    <img src="{{ media_path }}" alt="Image {{ filename }}" width="{{ width }}" height="{{ height }}">
    {% else %}
    <a href="{{ solo_path }}"><img src="{{ media_path }}" alt="Post {{ key }}" width="{{ width }}" height="{{ height }}"></a>
    {% endif %}
    {% elif category == "video" %}
    {% set poster_attr = "" %}
    {% if post.media_poster_opt is not none %}
    {% set poster_filename = post.thumb_poster_opt if use_thumb else post.media_poster_opt %}
    {% set poster_path = "/m/" + key + "/" + poster_filename %}
    {% set poster_attr = " poster=\"" + poster_path + "\"" %}
    {% endif %}
    {% if solo and not chrome %}
    <!-- Non-Chromium browsers receive an 8-bit H.264/AVC video for compatibility -->
    {% endif %}
    <video width="{{ width }}" height="{{ height }}" controls{{ poster_attr }} preload="metadata">
        <source src="{{ media_path }}" type="{{ mime_type }}">
        Video {{ filename }}
    </video>
    {% elif category == "audio" %}
    <audio controls>
        <source src="{{ media_path }}" type="{{ mime_type }}">
        Audio {{ filename }}
    </audio>
    {% endif %}
</div>
