            <div class="post {{ post.status }}" id="post-{{ post.key }}">
                {% if post.body|length > 0 and post.status != "banned" %}
                <div class="body">
                    {{ post.body }}
                </div>
                {% endif %}
                {% if post.media_file_name %}
                {% if post.status == "approved" %}
                {% set optimal_file_name =
                    post.thumbnail_file_name if not solo and post.thumbnail_file_name
                    else post.media_file_name %}
                {% set media_path = "/m/" + post.key + "/" + optimal_file_name|urlencode %}
                {% include "media.jinja" %}
                {% elif post.status == "rejected" %}
                <p class="review">File "{{ post.media_file_name|e }}" deleted.</p>
                {% elif post.status == "pending" %}
                {% if admin %}
                {% set media_path = "/admin/decrypt-media/" + post.key %}
                {% include "media.jinja" %}
                <p class="review">File: {{ post.media_file_name|e }}</p>
                {% else %}
                <p class="review">File "{{ post.media_file_name|e }}" pending review.</p>
                {% endif %}
                {% endif %}
                {% endif %}
                {% if solo %}
                <p class="info">
                    Poster:
                    {% if post.username %}
                    <a href="/user/{{ post.username }}">{{ post.username }}</a>
                    {% else %}
                    anon
                    {% endif %}
                    <br>
                    At: {{ post.created_at_str }}
                    {% if post.media_file_name %}
                    <br>
                    Filename: {{ post.media_file_name|e }}
                    {% endif %}
                </p>
                {% endif %}
                {% if post.status == "approved" %}
                {% endif %}
                {% if not solo and (not post.status == "approved" or not post.media_category == "image") %}
                <div class="key">
                    <a href="/{{ post.key }}">&rarr;</a>
                </div>
                {% endif %}
                {% if admin and (post.status == "pending" or solo) %}
                <details class="mod"{{ " open" if post.status == "pending" }}>
                    <summary>Mod</summary>
                    <form action="/admin/review-post" method="post" class="approve" data-fetch="PATCH">
                        <input type="hidden" name="key" value="{{ post.key }}">
                        <input type="hidden" name="status" value="approved">
                        <input type="submit" value="Approve"{{ " disabled" if post.status == "approved" }} id="approve-{{ post.key }}-submit">
                    </form>
                    <form action="/admin/review-post" method="post" class="reject" data-fetch="PATCH">
                        <input type="hidden" name="key" value="{{ post.key }}">
                        <input type="hidden" name="status" value="rejected">
                        <input type="submit" value="Reject"{{ " disabled" if post.status == "rejected" }} id="reject-{{ post.key }}-submit">
                    </form>
                    <form action="/admin/review-post" method="post" class="ban" data-fetch="DELETE">
                        <input type="hidden" name="key" value="{{ post.key }}">
                        <input type="hidden" name="status" value="banned">
                        <input type="submit" value="Ban"{{ " disabled" if post.status == "banned" }} id="ban-{{ post.key }}-submit">
                    </form>
                </details>
                {% elif post.status == "rejected" %}
                <form action="/hide-rejected-post" method="post" data-fetch="PATCH">
                    <span class="review">Post rejected.</span>
                    <input type="hidden" name="key" value="{{ post.key }}">
                    <input type="submit" value="Hide" id="hide-{{ post.key }}-submit">
                </form>
                {% elif post.status == "banned" %}
                <div class="review">This post has been deleted and its IP has been banned for a month.</div>
                {% endif %}
            </div>
