    {% extends "layout.jinja" %}
    {% block main %}
    <main>
        {% if notice %}
        <p id="notice">{{ notice }}</p>
        {% endif %}
        <h2>{{ account.username }}</h2>
        <p>{{ account.role|capitalize }}</p>
        <p>Created {{ account.created_at_str }}</p>
        {% if user.account.username == account.username %}
        <p>You are logged in as this user. <a href="/settings">Settings</a></p>
        {% endif %}
        <div id="posts" class="index">
            {% for post in posts %}
            {% include "post.jinja" %}
            {% endfor %}
        </div>
    </main>
    {% endblock %}
