        {% extends "layout.jinja" %}
        {% block main %}
        {% if notice %}
        <p id="notice">{{ notice }}</p>
        {% endif %}
        <h2>{{ display_account.username }}</h2>
        {% if user.account.username == display_account.username %}
        You are logged in as this user. <a href="/settings">Settings</a>
        {% endif %}
        <p>Created {{ display_account.created_at_str }}.</p>
        {% if display_account.admin %}
        <p>This user is an admin.</p>
        {% endif %}
        <div id="posts">
            {% for post in posts %}
            {% include "post.jinja" %}
            {% endfor %}
        </div>
        {% endblock %}
