        {% extends "layout.jinja" %}
        {% block main %}
        <h3>Registration</h3>
        <ul>
            <li>Registering will give you a username.</li>
            <li>You will be able to set a time zone.</li>
            <li>You can post anonymously while logged in.</li>
        </ul>
        <form action="/register" method="post">
            <label for="username">username:</label>
            <input type="text" name="username" id="username" maxlength="16" autocomplete="username">
            <br>
            <label for="password">password:</label>
            <input type="password" name="password" id="password" maxlength="64" autocomplete="new-password">
            <br>
            <input type="submit" value="Register" id="register-submit">
        </form>
        {% endblock %}
