        {% extends "layout.jinja" %}
        {% block main %}
        <h3>Registration</h3>
        <ul>
            <li>Registering will give you a username.</li>
            <li>You will be able to set a time zone.</li>
        </ul>
        <form action="/register" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <label for="username">Username:</label>
            <br>
            <input type="text" name="username" id="username" maxlength="16" size="16" autocomplete="username">
            <br>
            <label for="password">Password:</label>
            <br>
            <input type="password" name="password" id="password" maxlength="64" size="32" autocomplete="new-password">
            <br>
            <label for="confirm-password">Confirm password:</label>
            <br>
            <input type="password" name="confirm_password" id="confirm-password" maxlength="64" size="32" autocomplete="new-password">
            <br>
            <input type="submit" value="Register" id="register-submit">
        </form>
        {% endblock %}
