        {% extends "layout.jinja" %}
        {% block main %}
        {% if notice %}
        <p id="notice">{{ notice }}</p>
        {% endif %}
        <h2>Settings</h2>
        <form action="/settings/logout" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            Delete account cookie:
            <br>
            <input type="submit" value="Log out" id="log-out-submit">
        </form>
        <br>
        <form action="/settings/reset-account-token" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            Reset authentication token:
            <br>
            <input type="submit" value="Log out all devices" id="reset-account-token-submit">
        </form>
        <br>
        <p>Time zone: {{ account.time_zone }}</p>
        <form action="/settings/update-time-zone" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <select name="time_zone" id="time_zone">
                {% for tz in time_zones %}
                <option value="{{ tz }}"{{ " selected" if tz == account.time_zone }}>{{ tz }}</option>
                {% endfor %}
            </select>
            <br>
            <input type="submit" value="Update time zone" id="update-time-zone-submit">
        </form>
        <br>
        <br>
        <form action="/settings/update-password" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <input type="hidden" name="username" value="{{ account.username }}">
            <label for="password">New password:</label>
            <br>
            <input type="password" name="password" id="password" maxlength="64" size="32" autocomplete="new-password">
            <br>
            <label for="confirm-password">Confirm new password:</label>
            <br>
            <input type="password" name="confirm_password" id="confirm-password" maxlength="64" size="32" autocomplete="new-password">
            <br>
            <input type="submit" value="Update password" id="update-password-submit">
        </form>
        {% endblock %}

