{% extends "layout.jinja" %}
{% block title %}
    <title>{{ title }} - Post {{ post.key }}</title>
{% endblock %}
{% block meta %}
    <meta property="og:title" content="/p/{{ post.key }}">
    <meta property="og:site_name" content="{{ title }}">
    <meta property="og:url" content="https://{{ host + "/p/" + post.key }}">
    {% if post.media_category_opt is not none %}
    {% set media_category = post.media_category_opt %}
    {% set embed_filename = post.media_filename_opt %}
    {% set embed_path = "/m/" + post.key + "/" + embed_filename|urlencode %}
    {% set embed_width = post.media_width_opt %}
    {% set embed_height = post.media_height_opt %}
    {% set embed_mime_type = post.media_mime_type_opt %}
    {% if media_category == "image" %}
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://{{ host + embed_path }}">
    <meta property="og:image:secure_url" content="https://{{ host + embed_path }}">
    <meta property="og:image:width" content="{{ embed_width }}">
    <meta property="og:image:height" content="{{ embed_height }}">
    <meta property="og:image:type" content="{{ embed_mime_type }}">
    <meta property="twitter:site" content="oomfie.land">
    <meta property="twitter:title" content="/p/{{ post.key }}">
    <meta property="twitter:image" content="https://{{ host + embed_path }}">
    <meta property="twitter:image:width" content="{{ embed_width }}">
    <meta property="twitter:image:height" content="{{ embed_height }}">
    <meta property="twitter:card" content="summary_large_image">
    {% elif media_category == "video" %}
    <meta property="og:type" content="video.other">
    <meta property="og:video" content="https://{{ host + embed_path }}">
    <meta property="og:video:secure_url" content="https://{{ host + embed_path }}">
    <meta property="og:video:type" content="{{ embed_mime_type }}">
    <meta property="og:video:width" content="{{ embed_width }}">
    <meta property="og:video:height" content="{{ embed_height }}">
    {% elif media_category == "audio" %}
    <meta property="og:type" content="website">
    <meta property="og:audio" content="https://{{ host + embed_path }}">
    <meta property="og:audio:secure_url" content="https://{{ host + embed_path }}">
    <meta property="og:audio:type" content="{{ embed_mime_type }}">
    {% endif %}
    {% endif %}
{% endblock %}
{% block main %}
<main>
    {% filter indent(4) %}
    {%+ include "post.jinja" +%}
    {% endfilter %}
</main>
{% endblock %}
