{% extends "layout.jinja" %}
{% block title %}
    <title>{{ title }} - Post {{ post.key }}</title>
{% endblock %}
{% block meta %}
    <meta property="og:title" content="Post {{ post.key }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ title }}">
    <meta property="og:url" content="https://{{ host + "/p/" + post.key }}">
    {% if post.media_category_opt is not none %}
    {% set media_category = post.media_category_opt %}
    {% set embed_filename = post.media_filename_opt %}
    {% set embed_path = "/m/" + post.key + "/" + embed_filename|urlencode %}
    {% set embed_width = post.media_width_opt %}
    {% set embed_height = post.media_height_opt %}
    {% set embed_mime_type = post.media_mime_type_opt %}
    {% if media_category == "image" %}
    <meta property="og:description" content="Image {{ embed_filename|escape }}">
    <meta property="og:image" content="https://{{ host + embed_path }}">
    <meta property="og:image:secure_url" content="https://{{ host + embed_path }}">
    <meta property="og:image:alt" content="Image {{ embed_filename }}">
    <meta property="og:image:width" content="{{ embed_width }}">
    <meta property="og:image:height" content="{{ embed_height }}">
    <meta property="og:image:type" content="{{ embed_mime_type }}">
    {% elif media_category == "video" %}
    {% set poster_path = "/m/" + post.key + "/" + post.media_poster_opt %}
    <meta property="og:description" content="Video {{ embed_filename|escape }}">
    <meta property="og:video" content="https://{{ host + embed_path }}">
    <meta property="og:video:secure_url" content="https://{{ host + embed_path }}">
    <meta property="og:video:type" content="{{ embed_mime_type }}">
    <meta property="og:video:alt" content="Video {{ embed_filename }}">
    <meta property="og:video:width" content="{{ embed_width }}">
    <meta property="og:video:height" content="{{ embed_height }}">
    <meta property="og:image" content="https://{{ host + poster_path }}">
    <meta property="og:image:alt" content="Poster {{ embed_filename }}">
    {% elif media_category == "audio" %}
    <meta property="og:description" content="Audio {{ embed_filename|escape }}">
    <meta property="og:audio" content="https://{{ host + embed_path }}">
    <meta property="og:audio:secure_url" content="https://{{ host + embed_path }}">
    <meta property="og:audio:type" content="{{ embed_mime_type }}">
    {% endif %}
    {% else %}
    <meta property="og:description" content="Text">
    {% endif %}
{% endblock %}
{% block main %}
<main>
    {% filter indent(4) %}
    {%+ include "post.jinja" +%}
    {% endfilter %}
</main>
{% endblock %}
